* text=auto

*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.mjs text eol=lf
*.scss text eol=lf
*.ts text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.db binary
*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.png binary
*.sqlite binary
*.sqlite3 binary
*.webp binary
